/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start document css */
h1, h2, h3, li, td {
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  font-size: 2em;
  margin: 20px;
}

h2 {
  background: linear-gradient(180deg, #e6b800, #ffe680);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 1.2em;
  padding: 5px 10px;
}

h2:hover {
  cursor: pointer;
}

td {
  padding-right: 10px;
}

table, ul {
  margin: 10px 10px;
}

li.spacer {
  margin: 0 10px;
}

.content {
  padding: 15px 15px;
  float: left;
  width: 60%;
}

.pic h3 {
  font-size: 1.5em;
  margin: 5px;
}

.nav {
  background-color: #6600cc;
}

.nav li {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: top;
}

.pic {
  float: right;
  margin: 15px 0;
  width: 30%;
}

/* Nav animation */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  color: white;
  padding: 12px;
  margin: 0 -2px;
  text-decoration: none;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgb(0, 0, 200);
  color: white;
}
